**/.class
**/.DS_Store
**/node_modules

**/npm-debug.log
**/pnpm-debug.log

config/workspaces-catalogue.json

# VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json