**/.class
**/.DS_Store
**/node_modules
**/npm-debug.log
**/pnpm-debug.log

.build

# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/*.example.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# IntelliJ Idea Module Files
*.iml
**/.idea

# User-config files
*/config/settings/*.yml
!*/config/settings/.defaults.yml
!*/config/settings/example.yml
*/*/*/config/settings/*.yml
!*/*/*/config/settings/.defaults.yml
!*/*/*/config/settings/example.yml
