**/.class
**/.DS_Store
**/node_modules

**/npm-debug.log
**/pnpm-debug.log
**/.webpack

# Serverless directories
.serverless

.build

local-events/*

# VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
