**/.class
**/.DS_Store
**/node_modules

**/npm-debug.log

# Serverless directories
.serverless

# VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
